<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formato de Ingresos</title>
</head>
<body>
    <h1>Formato de Ingresos</h1>
    <form method="POST" action="/entradas/registroIngresos">
        <label for="fecha">
            Fecha   :
            <input name="fecha" type="text"
        </label></br>
        <label for="cliente">
            Cliente :
            <input name="fecha" type="text"
        </label></br>
        <label for="producto">
            Producto:
            <input name="producto" type="text"
        </label></br>
        <label for="cantidad">
            Cantidad:
            <input name="cantidad" type="number"
        </label></br>
        <label for="precio">
            Precio  :
            <input name="precio" type="number"
        </label></br>
        <label for="fecha">
            Total   :
            <input name="total" type="number"
        </label></br>
        <label for="cobrado">
            Cobrado :
            <input name="cobrado" type="boolean"
        </label>

        <button type="submit">Enviar datos</button>

    </form>
</body>
</html>